.profile__header {
    margin-top: 5vh;
    margin-left: 45vw;
}

.profile__card {
    margin-left: 40vw;
    margin-top: 5vh;
}

.profile__delete-btn {
    margin-left: 44vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
}